.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  gap: 30px;
  margin-bottom: 50px;
  padding-top: 200px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

label {
  margin-bottom: 5px;
  color: black;
  font-weight: 500;
  font-size: 12px;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
}
.full_name {
  display: flex;
  gap: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #555;
}

.message_area {
  padding: 12px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  height: 50rem;
  border: 1px solid #eee;
  border-radius: 5px;
  resize: none;
}
.message_area::placeholder {
  color: #adababaf;
  font-size: 13px;
}
input::placeholder {
  color: #adababaf;
  font-size: 13px;
}
