.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide.active {
  transition-duration: 1s;
  transform: scale(1.08);
}
.slider_container {
  position: relative;
}
.close_button {
  position: absolute;
  top: 10%;
  left: 2.5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-family: helvetica, arial;
}

@media (max-width: 1000px) {
  .image {
    width: 300px;
    height: 300px;
  }
  .right-arrow {
    right: 2%;
  }
  .left-arrow {
    left: 2%;
  }
  .slider {
    flex-direction: column;
    align-items: center;
  }
}
