.header_countainer {
  height: 16vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7rem;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 140px;
}
.logo_img {
  height: 100%;
  width: 100%;
}
.navbar-toggle {
  display: none;
}

.navbar ul {
  padding-right: 3rem;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  font-size: 20px;
  cursor: pointer;
}


.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}


.navbar ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

@media (max-width: 750.999px) {
  .header_countainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .logo_container {
    padding-left: 0.5rem;
  }

  .navbar {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100vw;
    padding-top: 50px;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 30vh;
    z-index: -1;
    background: #ffffff;
  }

  .navbar.active {
    background: #ffffff;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  .navbar-toggle {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
  }
  .navbar-toggle .FaBars {
    color: rgb(0, 0, 0);
    font-size: 30px;
  }

  .navbar ul li {
    width: 100%;
    border: 1px solid #000000;
    padding: 1rem;
  }
  .navbar ul li a {
    text-align: center;
    width: 100%;
    display: table;
  }

  .navbar ul li a::after {
    width: 30%;
    left: 35%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
}

@media (max-width: 769px) {
  .cover-img h1 {
    font-size: 1.5rem;
    padding-left: 4rem;
  }

  .logo_container {
    padding-left: 2rem;
  }
}
